
extends ../_templates/_page.pug

block append variables
	- pageName = "store"
	- pageSubtitle = "Store"

block main
	.plate
		nav.subnav
			a(href="#featured") Featured
			a(href="#manicure") Manicure
			a(href="#brushes") Brushes
			a(href="#acrylic") Acrylic
			a(href="#files-and-forms") Files &amp; Forms
			a(href="#accessories") Accessories
	<div class=productarea>
		<h2 id=featured>Featured</h2>
		<div class=productgrid>
			<shopper-product data-new restocking-soon show-image href="/store/products/quick-tips" link="https://nail-career-education.myshopify.com/admin/products/6669675003940"></shopper-product>
			<shopper-product restocking-soon show-image href="/store/products/acrylic-powder-collection-of-four" link="https://nail-career-education.myshopify.com/admin/products/6659820388388"></shopper-product>
			<shopper-product data-sale="50% OFF!" show-image href="/store/products/apron" uid="Z2lkOi8vc2hvcGlmeS9Qcm9kdWN0LzE1MDI3MDAyMDgxNjQ="></shopper-product>
		</div>
		<h2 id=manicure>Manicure</h2>
		<div class=productgrid>
			<shopper-product restocking-soon show-image href="/store/products/manicure-kit" uid="Z2lkOi8vc2hvcGlmeS9Qcm9kdWN0LzY1OTQ0MDE5OTI3NDA="></shopper-product>
			<shopper-product restocking-soon show-image href="/store/products/cuticle-oil" uid="Z2lkOi8vc2hvcGlmeS9Qcm9kdWN0LzUwMzYyMjQ0NDY1MDA="></shopper-product>
		</div>
		<h2 id=brushes>Brushes</h2>
		<div class=productgrid>
			<shopper-product restocking-soon show-image href="/store/products/rose-gold-brush-kit" uid="Z2lkOi8vc2hvcGlmeS9Qcm9kdWN0LzY1NzYzNDg3NTgwNTI="></shopper-product>
			<shopper-product restocking-soon show-image href="/store/products/pride-brushes" uid="Z2lkOi8vc2hvcGlmeS9Qcm9kdWN0LzY2MjAxNjI2MjE0NzY="></shopper-product>
			<shopper-product restocking-soon show-image href="/store/products/crystal-gold-brush" uid="Z2lkOi8vc2hvcGlmeS9Qcm9kdWN0LzY2MDYxMDQ0Mjg1ODA="></shopper-product>
			<shopper-product restocking-soon show-image href="/store/products/blue-duster" uid="Z2lkOi8vc2hvcGlmeS9Qcm9kdWN0LzY1OTMxNzQ0NzA2OTI="></shopper-product>
		</div>
		<h2 id=acrylic>Acrylic</h2>
		<div class=productgrid>
			<shopper-product restocking-soon show-image href="/store/products/acrylic-powder-collection-of-four" link="https://nail-career-education.myshopify.com/admin/products/6659820388388"></shopper-product>
			<shopper-product restocking-soon show-image href="/store/products/acrylic-powder-2oz-soft-white" link="https://nail-career-education.myshopify.com/admin/products/6659823435812"></shopper-product>
			<shopper-product restocking-soon show-image href="/store/products/acrylic-powder-2oz-foundation-pink" link="https://nail-career-education.myshopify.com/admin/products/6659824123940"></shopper-product>
			<shopper-product restocking-soon show-image href="/store/products/acrylic-powder-2oz-pink-tint" link="https://nail-career-education.myshopify.com/admin/products/6659823796260"></shopper-product>
			<shopper-product restocking-soon show-image href="/store/products/acrylic-powder-2oz-clear-cap" link="https://nail-career-education.myshopify.com/admin/products/6659825795108"></shopper-product>
			<a class=special target=joyamia href="https://joyamia.com/collections/suzies-collection/products/suzies-prep-and-bond-set">
				<div class=imagebox>
					<p class=note>Special Partnership</p>
					<img src="/assets/images-small/products/prep-and-bond/prepbond-1.jpg" alt=""/>
				</div>
				<div class=detailbox>
					<p class=producttitle>Suzie’s Prep and Bond Set</p>
				</div>
				<div class=actionbox>
					<p class=productcode>Use discount code <code>suzie</code> for 10% off!</p>
					<p class=productbutton>See on Joya Mia</p>
				</div>
			</a>
			<a class=special target=joyamia href="https://joyamia.com/collections/suzies-collection/products/suzies-fast-acrylic-monomer">
				<div class=imagebox>
					<p class=note>Special Partnership</p>
					<img src="/assets/images-small/products/fast-acrylic/fast-acrylic-2.jpg" alt=""/>
				</div>
				<div class=detailbox>
					<p class=producttitle>Suzie’s Fast Acrylic Monomer</p>
					<p class=bubble>Fast-setting formula</p>
				</div>
				<div class=actionbox>
					<p class=productcode>Use discount code <code>suzie</code> for 10% off!</p>
					<p class=productbutton>See on Joya Mia</p>
				</div>
			</a>
			<a class=special target=joyamia href="https://joyamia.com/collections/suzies-collection/products/suzies-clean-acrylic-monomer">
				<div class=imagebox>
					<p class=note>Special Partnership</p>
					<img src="/assets/images-small/products/clean-acrylic/cleanacrylic3.jpg" alt=""/>
				</div>
				<div class=detailbox>
					<p class=producttitle>Suzie’s Clean Acrylic Monomer</p>
					<p class=bubble>Low-odor formula</p>
				</div>
				<div class=actionbox>
					<p class=productcode>Use discount code <code>suzie</code> for 10% off!</p>
					<p class=productbutton>See on Joya Mia</p>
				</div>
			</a>
			<a class=special target=joyamia href="https://joyamia.com/collections/suzies-collection/products/suzies-fast-acrylic-system">
				<div class=imagebox>
					<p class=note>Special Partnership</p>
					<img src="/assets/images-small/products/fast-acrylic/fast-acrylic-1.jpg" alt=""/>
				</div>
				<div class=detailbox>
					<p class=producttitle>Suzie’s Fast Acrylic Collection</p>
					<p class=bubble>Fast-setting formula</p>
				</div>
				<div class=actionbox>
					<p class=productcode>Use discount code <code>suzie</code> for 10% off!</p>
					<p class=productbutton>See on Joya Mia</p>
				</div>
			</a>
			<a class=special target=joyamia href="https://joyamia.com/collections/suzies-collection/products/suzies-clean-acrylic-starter-kit">
				<div class=imagebox>
					<p class=note>Special Partnership</p>
					<img src="/assets/images-small/products/clean-acrylic/cleanacrylic2.jpg" alt=""/>
				</div>
				<div class=detailbox>
					<p class=producttitle>Suzie’s Clean Acrylic Collection</p>
					<p class=bubble>Low-odor formula</p>
				</div>
				<div class=actionbox>
					<p class=productcode>Use discount code <code>suzie</code> for 10% off!</p>
					<p class=productbutton>See on Joya Mia</p>
				</div>
			</a>
		</div>
		<h2 id=files-and-forms>Files &amp; Forms</h2>
		<div class=productgrid>
			<shopper-product restocking-soon show-image href="/store/products/files-5" uid="Z2lkOi8vc2hvcGlmeS9Qcm9kdWN0LzQzOTM2MDA2NDcyMDQ="></shopper-product>
			<shopper-product restocking-soon show-image href="/store/products/files-fine" uid="Z2lkOi8vc2hvcGlmeS9Qcm9kdWN0LzY1OTMxODU4MDg0MjA="></shopper-product>
			<shopper-product restocking-soon show-image href="/store/products/files-medium" uid="Z2lkOi8vc2hvcGlmeS9Qcm9kdWN0LzY1OTMxODY4ODk3NjQ="></shopper-product>
			<shopper-product restocking-soon show-image href="/store/products/files-coarse" uid="Z2lkOi8vc2hvcGlmeS9Qcm9kdWN0LzY1OTMxODc2MTA2NjA="></shopper-product>
			<shopper-product restocking-soon show-image href="/store/products/files-sanding-sponge" uid="Z2lkOi8vc2hvcGlmeS9Qcm9kdWN0LzY1OTMxODg1OTM3MDA="></shopper-product>
			<shopper-product restocking-soon show-image href="/store/products/files-smooth-and-shine" uid="Z2lkOi8vc2hvcGlmeS9Qcm9kdWN0LzY1OTMxODc2NDM0Mjg="></shopper-product>
			<shopper-product restocking-soon show-image href="/store/products/button-forms" uid="Z2lkOi8vc2hvcGlmeS9Qcm9kdWN0LzY1NzYzNTI3MjI5ODA="></shopper-product>
			<shopper-product restocking-soon show-image href="/store/products/button-forms-500" uid="Z2lkOi8vc2hvcGlmeS9Qcm9kdWN0LzY1Nzk0NDQxNTQ0MDQ="></shopper-product>
		</div>
		<h2 id=accessories>Accessories</h2>
		<div class=productgrid>
			<shopper-product data-new restocking-soon show-image href="/store/products/quick-tips" link="https://nail-career-education.myshopify.com/admin/products/6669675003940"></shopper-product>
			<shopper-product restocking-soon show-image href="/store/products/jewel-dappen-dish" uid="Z2lkOi8vc2hvcGlmeS9Qcm9kdWN0LzY1NzYzNTQ2ODkwNjA="></shopper-product>
			<shopper-product restocking-soon show-image href="/store/products/pumpkin-nail-display" uid="Z2lkOi8vc2hvcGlmeS9Qcm9kdWN0LzY1OTMxODIxNzExNzI="></shopper-product>
			<shopper-product restocking-soon show-image href="/store/products/nail-bar-blue" uid="Z2lkOi8vc2hvcGlmeS9Qcm9kdWN0LzY1OTMxODQ3MjcwNzY="></shopper-product>
			<shopper-product restocking-soon show-image href="/store/products/nail-bar-pink" uid="Z2lkOi8vc2hvcGlmeS9Qcm9kdWN0LzY1OTMxODUxMjAyOTI="></shopper-product>
			<shopper-product show-image href="/store/products/apron" uid="Z2lkOi8vc2hvcGlmeS9Qcm9kdWN0LzE1MDI3MDAyMDgxNjQ="></shopper-product>
		</div>
	</div>
