
doctype html

block variables
	- let pageSubtitle
	- let pageName

head
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width,initial-scale=1")
	title NCE#{pageSubtitle && " – " + pageSubtitle}
	link(rel="stylesheet" href="/styles.css")
	link(rel="icon" type="image/png" href="/assets/images/favicon.png")
	link(rel="preconnect" href="https://fonts.googleapis.com")
	link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
	link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway&display=swap")

	shopper-config(
		base-currency="cad"
		currencies="cad,usd,gbp,eur,aud"
		shopify-domain="nail-career-education.myshopify.com"
		shopify-storefront-access-token="493f6df6e7fb5bfc231bb9f221fecdee"
	)

	if debug
		xiome-config(mock)
		script(type="importmap-shim" src="/importmap.json")
		script(type="module-shim" src="/main.js")
		script(async defer src="http://localhost:4999/es-module-shims/dist/es-module-shims.min.js")
	else
		xiome-config(app="ea296d14b6d75503a7d419da911c64c1a8d685c3cc6739d2483bccb3a6af973c")
		script(async defer src="/main.bundle.min.js")

	block head

body(data-page=pageName)
	nce-header(current-page=pageName initially-hidden)
		.menuarea
			menu-system(sticky initially-hidden)
				menu-display(data-label="shopper")
					shopper-button(slot="button")
					shopper-cart
				menu-display(data-label="account")
					xiome-my-avatar(slot="button")
					xiome-login-panel(show-logout)
						xiome-my-account
							h3 your account
	main
		block main
	nce-footer
