
doctype html

block variables
	- let pageSubtitle
	- let pageName

head
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width,initial-scale=1")
	title #{pageSubtitle ? "NCE " + pageSubtitle : "Nail Career Education"}
	link(rel="stylesheet" href="/styles.css")
	link(rel="icon" type="image/jpeg" href="/assets/images/suzie.jpg")
	link(rel="preconnect" href="https://fonts.googleapis.com")
	link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
	link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway&display=swap")

	shopper-config(
		base-currency="usd"
		currencies="cad,usd,gbp,eur,aud"
		shopify-domain="nail-career-education.myshopify.com"
		shopify-storefront-access-token="493f6df6e7fb5bfc231bb9f221fecdee"
	)

	if debug
		xiome-mock
		script(type="importmap-shim" src="/importmap.json")
		script(defer type="module-shim" src="/main.js")
		script(defer type="module-shim" src="/node_modules/xiome/x/xiome-mock.js")
		script(defer src="/node_modules/es-module-shims/dist/es-module-shims.js")
	else
		xiome-config(app="ea296d14b6d75503a7d419da911c64c1a8d685c3cc6739d2483bccb3a6af973c")
		script(defer src="/node_modules/@babel/polyfill/dist/polyfill.min.js")
		script(defer src="/node_modules/whatwg-fetch/dist/fetch.umd.js")
		script(defer src="/node_modules/@webcomponents/webcomponentsjs/webcomponents-bundle.js")
		script(defer src="/main.bundle.min.js")
		script(defer src="/node_modules/xiome/x/xiome.bundle.min.js")

	block head

body(data-page=pageName)
	nce-header(current-page=pageName initially-hidden)
		.menuarea
			xio-menu(sticky initially-hidden)
				xio-menu-item(data-label="shopper")
					shopper-button
					shopper-cart(slot="panel")
				xio-menu-item(data-label="account")
					xiome-my-avatar
					xiome-login-panel(slot="panel" show-logout)
						p(slot="logged-out") Enter your email to login or create an account
						xiome-my-account
							h3 your account
	//- section.noticebanner
	//- 	h2 Boxing Week Sale!
	//- 	p Up to <strong>20% off</strong> in the <a href="/store">Store</a>
	main
		block main
	nce-footer
